body {
  margin: 50px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .btn-cookie {
  color: #e09f3e;
}

.btn-trash {
  color: #e5383b;
}

.fa-star {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #FFD700;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 0;
}

.fa-star {
  opacity: 1;
  transform: translateX(0px);
} */